<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student</title>
</head>
<body>
    <h1>Update Student</h1>
    <form action="/update-student/<%= student.id %>" method="POST">
        <label for="fullname">Full Name:</label><br>
        <input type="text" id="fullname" name="fullname" value="<%= student.fullname %>" required><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value="<%= student.email %>" required><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" value="<%= student.password %>"><br><br>
        <label for="age">Age:</label><br>
        <input type="number" id="age" name="score" value="<%= student.age %>"><br><br>
        <button type="submit">Update Student</button>
    </form>
</body>
</html>
